body {
  background-image: url('../assets/crew/background-crew-desktop.jpg');
  background-repeat: no-repeat;
  color: #fff;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 150px 30px 1fr 100px;
}

main {
  grid-column: 1 / span 12;
  grid-row: 2 / span 3;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 30px 1fr;
  width: 100%;
  row-gap: 2rem;
}

main div.meetTitle-box {
  grid-column: 2 / span 8;
  grid-row: 1 / span 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

main .meetTitle-box h3 {
  font-size: 1.2rem;
}

main .meetTitle-box span,
main .detail-box h4 {
  color: #999ca4;
}

main .meetTitle-box span {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

main .detail-box {
  grid-column: 2 / span 4;
  grid-row: 2 / span 1;
  align-self: center;
  justify-self: center;
}

main .detail-box h4 {
  padding: 5rem 0rem 1rem 0px;
}

main .detail-box h2 {
  font-size: 3rem;
}

main .detail-box .text-crew {
  font-size: 1rem;
  width: 90%;
  padding: 2rem 0rem 3rem 5px;
}

.crew-box {
  grid-column: 2 / span 4;
  grid-row: 2 / span 1;
  display: flex;
  padding: 0rem 0rem 4rem 5px;
  margin-top: -2rem;
}

.crew-box input {
  -webkit-appearance: none;
  transition: 0.3s all ease-in-out;
}

.crew-box label {
  width: 0.78rem;
  height: 0.78rem;
  border-radius: 50%;
  background-color: #727376;
  margin-right: 1.2rem;
  cursor: pointer;
  display: block;
  transition: 0.3s all ease-in-out;
}

.crew-box label:hover {
  background-color: #bdb6b6;
}

.crew-box input:checked+label {
  background-color: #fff;
}

/* -------------------------------------------------------------------------- */
/*                                     bb                                     */
/* -------------------------------------------------------------------------- */
main .img-box {
  grid-column: -2/ 8;
  grid-row: 1 / span 2;
  align-self: end;
  justify-self: center;
}

main .img-box img {
  width: 25rem;
}

@media (max-width: 890px) {
  main .img-box img {
    width: 22rem;
  }
}

@media (max-width: 768px) {
  body {
    background-image: url('../assets/crew/background-crew-tablet.jpg');
    background-repeat: no-repeat;
    color: #fff;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 150px 30px 1fr 100px;
  }

  main {
    grid-template-rows: 30px 1fr 1fr;
  }

  main .detail-box {
    grid-column: 2 / span 10;
    grid-row: 2 / span 1;
    align-self: center;
    justify-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main .detail-box h4 {
    padding: 0.5rem 0;
  }

  main .detail-box .text-crew {
    font-size: 1rem;
    width: 80%;
    text-align: center;
    padding: 0.4rem 0rem 3rem 0px;
  }

  .crew-box {
    grid-column: 2 / span 10;
    grid-row: 4 / span 1;
    justify-self: flex-start;
    align-self: center;
    padding: 0;
  }

  main .img-box {
    grid-column: 2 / span 10;
    grid-row: 3 / -1;
    align-self: end;
    justify-self: center;
  }

  main .img-box img {
    width: 18rem;
  }
}

@media (max-width: 350px) {
  main .img-box img {
    width: 13rem;
  }
}